# Pin dependencies for the docs
# Should be kept up-to-date with setup.py
sphinx==7.4.7
sphinx-rtd-theme==3.0.2
typing-extensions==3.7.4.3
myst-parser==4.0.0
Jinja2>=3.1
requests >= 2.0.0
rustworkx
graphql-core